In [101]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [102]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [103]:
print(train_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [104]:
train_df['Sex'] = train_df.Sex.apply(lambda x: 1 if x =='male' else 0)

In [105]:
print(train_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S

In [106]:
print(train_df.Embarked.unique())

['S' 'C' 'Q' nan]

In [107]:
train_df['Embarked'].fillna(inplace=True, value='N')

In [108]:
train_df['Embarked'] = train_df['Embarked'].map({'S':0, 'C':1, 'Q': 2, 'N':3})

In [109]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0

In [110]:
train_df.Embarked.unique()

array([0, 1, 2, 3], dtype=int64)

In [111]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [112]:
train_df.Fare.fillna(inplace=True, value=round(train_df.Fare.mean()))

In [113]:
train_df.Age.fillna(inplace=True, value=round(train_df.Age.mean()))

In [114]:
x_train = train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']]

In [115]:
y_train = train_df['Survived']

In [116]:
lm = LinearRegression()

In [117]:
lm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [118]:
test_df.Age.fillna(inplace=True, value=round(train_df.Age.mean()))

In [119]:
test_df['Embarked'].fillna(inplace=True, value='N')

In [120]:
test_df['Embarked'] = test_df['Embarked'].map({'S':0, 'C':1, 'Q': 2, 'N':3})

In [121]:
test_df['Sex'] = test_df.Sex.apply(lambda x: 1 if x =='male' else 0)

In [122]:
test_df.Fare.fillna(inplace=True, value=round(test_df.Fare.mean()))

In [123]:
x_test =test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']]

In [124]:
lm.predict(x_test)

array([ 0.14830991,  0.43735173,  0.16347857,  0.1034378 ,  0.58617063,
        0.18022863,  0.67268617,  0.2460159 ,  0.69866346,  0.0517593 ,
        0.08554357,  0.34970859,  0.95287717,  0.02707678,  0.80565374,
        0.80001698,  0.32337373,  0.18307446,  0.55550768,  0.53949153,
        0.30476337,  0.20805757,  0.94348045,  0.55137081,  0.89915425,
       -0.07619564,  1.04354104,  0.17423164,  0.38040895,  0.04268662,
        0.10371457,  0.2128548 ,  0.523578  ,  0.54204583,  0.45169482,
        0.19781364,  0.58348773,  0.6367113 ,  0.11545609,  0.09876588,
        0.07864514,  0.44418165,  0.02068375,  0.76161592,  0.81509876,
        0.11502759,  0.4012669 ,  0.17481683,  0.82341682,  0.55025215,
        0.44302179,  0.32660901,  0.73202533,  0.88130873,  0.30907188,
        0.11600973,  0.0560675 ,  0.11495277,  0.04214395,  1.01552851,
        0.16218136,  0.25205932,  0.15624647,  0.71987395,  0.56195285,
        0.76379243,  0.74349676,  0.34827522,  0.48348363,  0.78392526,
        0.70809032,  0.1386005 ,  0.58934894,  0.49799947,  1.00758247,
        0.5244183 ,  0.08558552,  0.70320887,  0.26371371,  0.70809032,
        0.22805316,  0.23354186,  0.33202295,  0.08554357,  0.35240315,
        0.08635265,  0.69043983,  0.6542303 ,  0.67271904,  0.38586866,
        0.58660933,  0.08551071,  0.92106184,  0.08558552,  0.51816455,
        0.11499244,  0.63950126,  0.09144673,  0.6423866 ,  0.06789988,
        0.87233124,  0.2393045 ,  0.17481683,  0.10909156,  0.66517248,
        0.10131408,  0.22789302,  0.17481683,  0.08576577,  0.33150868,
        0.24407941,  0.67272698,  0.95276451,  0.74038703,  0.75502492,
        0.15709522,  0.12980328,  0.71117061,  0.46671408,  0.72541628,
        0.86847795,  0.12918514,  0.92012096,  0.0971583 ,  0.17481683,
        0.66231563,  0.13267808,  0.58567265,  0.19297114,  0.12095681,
        0.07379509,  0.35377871,  0.58822619,  0.08417159,  0.00890579,
        0.12090354,  0.15065078,  0.28729457,  0.62475423, -0.00842863,
        0.48380326,  0.95840621,  0.32461426,  0.27904097,  0.37343908,
       -0.05449772,  0.45106827,  0.13274724,  0.44418165,  0.22161885,
        1.0434079 ,  0.13020003, -0.08661433,  0.54924097,  0.0096267 ,
        0.12082078,  1.00109389,  0.62470096,  0.37343908,  0.60862615,
        0.6727145 ,  0.22215794,  0.78533281,  0.08529986,  0.19886636,
        0.56523899,  0.38923905,  0.0722268 ,  0.98705886,  0.6308977 ,
        0.08544949,  0.14770318,  0.08281191,  0.13001868, -0.01264902,
        0.8571178 ,  0.82702958,  0.30958167,  0.7333183 ,  0.80170412,
        0.26371371,  0.417341  ,  0.97441804,  0.17481683,  1.01891246,
        0.20557776,  0.81684936,  0.07095993,  0.23516615,  0.20476157,
        0.198038  ,  0.44403202,  0.15077011,  0.17009816,  0.39871367,
        0.06784661,  0.65969256,  0.65415549,  0.30430005,  0.58350474,
        0.67482753,  0.26222414,  0.39766583,  0.84921578,  0.29250962,
        0.48861821,  0.64324297,  0.29840484,  0.96937321,  0.11501964,
        0.07773322,  0.08531346,  0.35681136,  0.54266464,  0.35372444,
        0.3777785 ,  0.67275419,  0.27701016,  0.87352257,  0.08558552,
        0.76087421,  0.13864245,  0.80809748,  0.13857329,  0.85139411,
        0.63010191,  0.12678286,  0.67271904,  0.02560382,  0.22834243,
        0.37218446,  0.99514079,  0.09258792,  0.17485198,  0.40231981,
        0.1444844 ,  0.25601865,  0.18896968,  0.7867268 ,  0.85672588,
        0.8396785 ,  0.67781279,  0.38414751,  0.08554131,  0.04414362,
        0.34058922,  0.81095415,  0.1526447 ,  0.72541628,  0.58425486,
        0.89143001,  0.14450366,  0.49088146,  0.12130369,  0.07124198,
        0.08544949,  0.17481683,  0.09737595,  0.82646328,  0.13856763,
        0.00417874,  0.13858918,  0.77023177,  0.70994178,  0.30829876,
        0.08554357,  0.43695836,  0.08544949,  0.58348773,  0.16238995,
        0.40776194,  0.17481683,  0.99467888,  0.62919585,  0.13001753,
        0.77847321,  0.27482398,  0.16266671,  0.22025854,  0.31019527,
        0.62492087,  0.21394642,  0.67271904,  0.70826972,  0.70623102,
        0.04999659,  0.08536787,  0.44907975,  0.13001868,  0.08558552,
        0.44773209,  0.67250139,  0.13001868,  0.27800743,  0.05060873,
        0.10912443,  0.93937728,  0.04268662,  0.44933726,  0.09142747,
        0.07372028,  0.30892676,  0.18925244,  0.12112345,  0.67271904,
        0.69601489,  0.43255795,  0.25790261,  0.26938429,  0.45107607,
        0.15649473,  0.17717925,  0.08545629,  0.63145254,  0.8690376 ,
        0.74935228,  0.31667537,  0.32788091,  0.1032179 ,  0.22464523,
        0.10909156,  0.15949475,  0.28729457,  0.42649601,  0.93930094,
        0.12657996,  0.78354006,  0.40883885,  0.22751407,  0.31677064,
        0.66196358,  0.43663819,  0.13001753,  0.6494525 ,  0.10322921,
        0.44403202,  0.25192328,  0.07696175,  0.29822297,  0.13001868,
        0.33377612,  0.07366701,  0.05668576,  0.95383731,  0.04170865,
        0.66591191,  0.28729457,  0.58075917,  0.29922103,  0.75789722,
        0.90832632,  0.29250962,  0.35091615,  0.12022028,  0.71711788,
        0.32612773,  0.68664161,  0.08553905,  0.17481683,  0.53989652,
       -0.17136024,  0.80254266,  0.75789722,  0.1034378 ,  0.9784451 ,
        0.55458797,  0.08635376,  0.63925687,  0.90724941,  0.3144989 ,
        0.27073086,  1.01021441,  0.32494928,  0.18118071,  0.77001442,
        0.96247158,  0.53955271,  0.31636255,  0.30318119,  0.05678842,
        0.17481683,  0.19843284,  0.58524254,  0.60489351,  0.2636797 ,
        0.76550284,  0.12088199,  0.10454293,  0.22787376,  0.09371923,
        0.50366283,  0.82178038,  0.18912334,  0.16281491, -0.04161224,
        0.97629528,  0.21005208,  0.84931894,  0.13267242,  0.16891707,
        0.97971484,  0.17309682,  1.04283934,  0.52641035,  0.36688717,
        0.36755697,  0.25866836,  0.37562036,  0.67271109,  0.69858439,
        0.67271904,  0.96176105,  0.59520334,  0.08558552,  0.95608786,
        0.03525855,  0.08558552,  0.08850307])

In [125]:
len(x_test)

418

In [126]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,0
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,2
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,0